{{define "body"}}
<h1>Inventory</h1>

<div style="text-align: center;">
	<button id="add-button" class="button button-main">
		Add Item
	</button>

	<button id="delete-button" class="button button-main">
		Delete Item
	</button>

	<br>

	<button id="undo-button" class="button button-normal">
		Restore
	</button>

	<button id="print-button" class="button button-normal">
		Print Table
	</button>
</div>

<!--modals: -->
<div id="add-form" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form method="POST" action="/add" target="dummyframe" autocomplete="off">
			<input type="text" placeholder="Name" name="name" id="name" required />
			<br />
			<input type="text" placeholder="Description" name="description" id="description" required />
			<br />
			<input type="text" placeholder="Count" name="count" id="count" required />
			<br />
			<input type="date" placeholder="Date" name="date" id="date" required />
			<br />
			<input type="submit" value="Add" class="button button-green" id="submitAdd" />
			<br />
		</form>
	</div>
</div>

<div id="delete-form" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form method="POST" action="/delete" target="dummyframe" autocomplete="off">
			<input type="number" placeholder="Number" min="1" name="number" id="number" required />
			<br />
			<input type="submit" value="Delete" class="button button-red" onclick="addDataToList()" id="submitDelete" />
			<br />
		</form>
	</div>
</div>

<br>

<table id="main-table" class="table-sortable">
	{{.TableData}}
</table>

<button class="button button-red" id="delete-all-btn">
	Delete Table
</button>
<div class="footer">
	<p style="margin-bottom: 10px;"><strong>Info</strong></p>
	<p>License: BSD-3-Clause License</p>
	<a href="https://raw.githubusercontent.com/Palexer/inventory/master/LICENSE" target="_blank">Full License text</a>
	<br>
	<a href="https://github.com/Palexer/inventory" target="_blank">Git Repository</a>
</div>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
{{ end }}
