{{define "body"}}
<h1>{{.Heading}}</h1>

<div style="text-align: center;">
	<button id="add-button" class="button button-main">
		Add Item
	</button>

	<br>

	<button id="undo-button" class="button button-normal">
		Restore
	</button>

	<button id="print-button" class="button button-normal">
		Print Table
	</button>
</div>

<!--modals: -->
<div id="add-form-wrapper" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form id="add-form" method="POST" action="/add" target="dummyframe" autocomplete="off">
			<input type="text" placeholder="Name" name="name" id="name" required />
			<br />
			<input type="text" placeholder="Description" name="description" id="description" required />
			<br />
			<input type="text" placeholder="Count" name="count" id="count" required />
			<br />
			<input type="date" placeholder="Date" name="date" id="date" required />
			<br />
			<input type="submit" value="Add" class="button button-green" />
			<br />
		</form>
	</div>
</div>

<div id="edit-form-wrapper" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<form id="edit-form" method="POST" action="/edit" target="dummyframe" autocomplete="off">
			<input type="text" placeholder="Name" name="name" id="editName" required />
			<br />
			<input type="text" placeholder="Description" name="description" id="editDescription" required />
			<br />
			<input type="text" placeholder="Count" name="count" id="editCount" required />
			<br />
			<input type="date" placeholder="Date" name="date" id="editDate" required />
			<br />
			<input type="number" placeholder="Number" name="index" id="index" required readonly />
			<br />
			<input type="submit" value="Update Item" class="button button-main" />
			<br />
		</form>
	</div>
</div>

<br>

<div class="table-wrapper">
	<table id="main-table" class="table-sortable">
		{{.TableData}}
	</table>
</div>

<button class="button button-red" id="delete-all-btn">
	Delete Table
</button>

<footer>
	<p style="margin-bottom: 10px;"><strong>Inventory Info</strong></p>
	<p>License: BSD-3-Clause License</p>
	<a href="https://raw.githubusercontent.com/Palexer/inventory/master/LICENSE" target="_blank">Full License
		text</a>
	<br>
	<a href="https://github.com/Palexer/inventory" target="_blank">Git Repository</a>
</footer>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
{{ end }}
