:root {
	--color-main-focus: #14a8e2;
	--color-main-focus-dark: #107ba5;
	--color-green: #1bb51d;
	--color-green-dark: #119313;
	--color-red: #e21f1f;
	--color-red-dark: #b51c1c;
	--color-gray: #757e82;
	--color-gray-dark: #5a6266;
	--transition-time: 0.25s;
	--main-border-radius: 4px;
}

* {
	font-size: 14pt;
	color: black;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body {
	/* make the footer always at the bottom of the page, but not always visible*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* main heading */
h1 {
	text-align: center;
	margin: 20px;
	font-size: 24pt;
}

/* footer */

footer {
	margin-top: auto;
	padding: 30px;
	background-color: #343a40!important;
	height: auto;
}

footer * {
	color: white;
}

/*table*/

.table-wrapper {
	margin-left: 10px;
	margin-right: 10px;
}

table {
	margin: 0 auto;
	margin-top: 10px;
	border-spacing: 0;
	border-collapse: collapse;
}

table tr {
	border: 1px solid black;
	word-wrap: break-word;
}

table td {
	border: 1px solid black;
	padding: 4px 10px;
	word-wrap: break-word;
}

table thead tr th {
	border: 1px solid black;
	padding: 4px 10px;
}

table thead {
	font-weight: bold;
}

form {
	text-align: center;
	margin: 25px;
}

form input {
	width: 80%;
	padding: 8px 16px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.table-sortable th {
	transition: var(--transition-time);
	cursor: pointer;
}

.table-sortable th:hover {
	background-color: var(--color-main-focus);
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: var(--color-main-focus);
}

.editCell:hover {
	background-color: var(--color-main-focus);
	transition: var(--transition-time);
	cursor: pointer;
}

.deleteCell:hover {
	background-color: var(--color-red);
	transition: var(--transition-time);
	cursor: pointer;
}

/*buttons*/

.button {
	margin: 5px;
	padding: 5px 10px;
	border: none;
	border-radius: var(--main-border-radius);
	transition: var(--transition-time);
	color: white;
}

.button:hover {
	cursor: pointer;
}

.button-green {
	background-color: var(--color-green);
}

.button-green:hover {
	background-color: var(--color-green-dark);
}

.button-red {
	background-color: var(--color-red);
}

.button-red:hover {
	background-color: var(--color-red-dark);
}

.button-normal {
	background-color: var(--color-gray);
}

.button-normal:hover {
	background-color: var(--color-gray-dark);
}

.button-main {
	color: white;
	background-color: var(--color-main-focus);
}

.button-main:hover{
	background-color: var(--color-main-focus-dark);
}

#delete-all-btn {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/*modal*

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* print only the table */
@media print {
	* {
		font-size: 12pt;
	}

	.table-wrapper {
		margin: 0px;
	}

	table thead {
		display: table-row-group;
	}

	table tr {
		page-break-inside: avoid;
	}

	/* hide edit and delte icon from table when printing */
	table td:nth-child(6), table td:nth-child(7) {
		display: none;
	}

	.button, footer {
		display: none;
	}

	#delete-all-btn, #info-btn {
		display: none;
	}
}

/* mobile optimization */
@media only screen and (max-width: 600px) {
	* {
		font-size: 12pt;
	}

	h1 {
		font-size: 20pt;
	}

	table {
		display: block;
		overflow-y: scroll;
	}

	.modal-content {
		width: 85%;
	}
}
